In [1]:
import pandas as pd
from src.name_scoring import calculate_name_similarity
from src.date_scoring import calculate_date_similarity

In [99]:
df = pd.read_csv('data/docs_similar_people.csv', names=['name_1', 'birth_date_1', 'name_2', 'birth_date_2'])
# df = df.loc[:100 :]

In [100]:
df.head()

                     name_1 birth_date_1            name_2 birth_date_2
0  ვარდოსანიძე-პაშკევიჩ ანა   1995-12-12   ვარდოსანიძე ანა   1995-12-12
1  ვარდოსანიძე-პაშკევიჩ ანა   1995-12-12   ვარდოსანიძე ანა   1995-12-12
2          ედიბერიძე მარიამ   1994-12-19  ედიბერიძე მარიკა   1994-12-19
3           ჟორჟოლიანი ცირა   1991-12-19       ლაბაძე ცირა   1991-12-19
4              აბესაძე ნინო   2000-07-08      კეკუტია ნინო   2000-07-08

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2996284 entries, 0 to 2996283
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   name_1        object
 1   birth_date_1  object
 2   name_2        object
 3   birth_date_2  object
dtypes: object(4)
memory usage: 91.4+ MB

In [102]:
df.drop_duplicates(subset=['name_1', 'birth_date_1', 'name_2', 'birth_date_2'], inplace=True)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699441 entries, 0 to 2996281
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name_1        699441 non-null  object
 1   birth_date_1  699441 non-null  object
 2   name_2        699441 non-null  object
 3   birth_date_2  699441 non-null  object
dtypes: object(4)
memory usage: 26.7+ MB

In [104]:
def calculate_scores(f):
    name_score = calculate_name_similarity(f['name_1'], f['name_2'])
    year_score, month_score, day_score = calculate_date_similarity(f['birth_date_1'], f['birth_date_2'])
    return [name_score, year_score, month_score, day_score]

In [105]:
scores = df.apply(calculate_scores, axis='columns').apply(pd.Series)
scores

                0    1         2         3
0        0.800000  1.0  1.000000  1.000000
2        0.966667  1.0  1.000000  1.000000
3        0.704365  1.0  1.000000  1.000000
4        0.755952  1.0  1.000000  1.000000
6        0.794312  1.0  1.000000  1.000000
...           ...  ...       ...       ...
2996251  0.708995  1.0  0.666667  0.666667
2996260  0.940741  1.0  1.000000  1.000000
2996264  0.754960  1.0  1.000000  1.000000
2996265  0.782738  1.0  1.000000  1.000000
2996281  0.750000  1.0  1.000000  1.000000

[699441 rows x 4 columns]

In [106]:
scores.rename({0: 'name_score', 1: 'year_score', 2: 'month_score', 3: 'day_score'}, axis='columns', inplace=True)

In [107]:
new_df = pd.concat([df, scores], axis='columns')

In [108]:
new_df['avg_score'] = new_df.apply(lambda f: (f['name_score'] + f['year_score'] + f['month_score'] + f['day_score'])/4, axis='columns')

In [109]:
new_df['bd_score'] = new_df.apply(lambda f: (f['year_score'] + f['month_score'] + f['day_score'])/3, axis='columns')

In [110]:
new_df['score'] = new_df.apply(lambda f: (f['name_score'] + f['bd_score'])/2, axis='columns')

In [112]:
new_df.drop_duplicates(subset=['name_score', 'year_score', 'month_score', 'day_score'], inplace=True)

In [117]:
new_df[(new_df['score'] < 1) & (new_df['score'] > 0.9)].drop(['year_score', 'month_score', 'day_score'], axis='columns')

,name_1,birth_date_1,name_2,birth_date_2,name_score,avg_score,bd_score,score
2,ედიბერიძე მარიამ,1994-12-19,ედიბერიძე მარიკა,1994-12-19,0.966667,0.991667,1.0,0.983333
10,ბალახაშვილი თინათინი,1993-06-24,ბალახაშვილი თინიკო,1993-06-24,0.902778,0.975694,1.0,0.951389
18,წიკლაური ბექა,1992-11-09,წიკლაური ბაქა,1992-11-09,0.875000,0.968750,1.0,0.937500
35,ქურცაძე ნათია,1996-06-30,ქურცაძე ნათელა,1996-06-30,0.937778,0.984444,1.0,0.968889
44,მანასიან ნადეჟდა,1992-10-02,მანუკიან ნადეჟდა,1992-10-02,0.922222,0.980556,1.0,0.961111
...,...,...,...,...,...,...,...,...
2859372,მილაძე-ჰაჯიაყაჯანი თამარ,1990-01-03,მილაძე-ჰაჯიაღაჯანი თამარ,1990-01-03,0.985690,0.996423,1.0,0.992845
2881200,ოგანეზოვი აშოტ,1949-10-19,ოგანესოვ აშოტი,1949-10-19,0.957176,0.989294,1.0,0.978588
2910533,სოსიაშვილი-ჩიფჩიოგლუ ჯულეტა,1979-06-08,სოსიაშვილი-ჩიფტჩიოგლუ ჯულეტა,1979-06-08,0.995726,0.998932,1.0,0.997863
2927083,პარწიკანაშვილი აჩი,2019-08-19,რეუცკი აჩი,2019-08-19,0.804464,0.951116,1.0,0.902232
2961540,მიწიაშვილი კარლოს ანდრეას,2019-05-16,მაწიაშვილი კარლოს ანდრეას,2019-05-16,0.946970,0.986742,1.0,0.973485

In [90]:
new_df[(new_df['name_score'] < 0.4) & (new_df['name_score'] >= 0.3)].loc[:, ['name_1', 'name_2', 'birth_date_1', 'birth_date_2', 'name_score', 'avg_score', 'score']]

,name_1,name_2,birth_date_1,birth_date_2,name_score,avg_score,score
4887,HOVHANNI H AN,HOVHANNISYAN MIHRAN,1978-04-02,1978-04-02,0.391111,0.847778,0.695556
6997,UAZ UAZ,HAMBARDZUMYAN GAGIK,1961-01-25,1961-01-25,0.340741,0.835185,0.670370
12749,WANG YINGCHUAN,ZHANG XU,1982-02-28,1977-05-24,0.391667,0.597917,0.529167
16738,?U?IY?V RUV?HAN,NURIYEV ROVSHAN,1963-07-01,1963-07-01,0.400000,0.850000,0.700000
16739,?U??T?V ?VV??A?,NURIYEV ROVSHAN,1963-07-01,1963-07-01,0.360544,0.840136,0.680272
18979,??V???Y?? MANVEL,GEVORGYAN KANVEL,1969-07-29,1969-07-29,0.355556,0.838889,0.677778
26708,SHA4 4ZY4N,SHAKHBAZYAN GARIK,1983-11-12,1983-11-12,0.332121,0.833030,0.666061
26915,LANGENBERG ELIZABETH,TISSOT VAN PATOT WILHELMINA,1953-06-01,1953-06-01,0.391358,0.847840,0.695679
27388,ASA OV IL,HASANOV HABIL,1972-10-21,1972-10-21,0.323810,0.830952,0.661905
48051,CORUM MERKEZ,YENIGEZER HAKAN,1976-05-02,1976-05-02,0.305556,0.826389,0.652778
51920,CUR B1M1TT JANE,COX DIMITY JANE,1952-05-01,1952-05-01,0.400000,0.850000,0.700000
59748,GOGICHAFV AA HA,GOGICHAEV GOCHA,1990-12-31,1990-12-31,0.391111,0.847778,0.695556
60799,SARIKAYA SERDAR,UZUN SEVIL,1966-01-09,1966-01-09,0.331111,0.832778,0.665556
91317,ZJBOSBGRZAOU MZOOBJJAZAOGJSASOS,IVANOV KOSTADIN TODOROV,1974-06-13,1974-06-13,0.375132,0.843783,0.687566
92886,1NMA1LZAUE M1HSAU1G,ISMAILZADE MIRSADIG,1973-03-05,1973-03-05,0.388492,0.847123,0.694246
92887,1NMA1LZAUE M1HNAU1G,ISMAILZADE MIRSADIG,1973-03-05,1973-03-05,0.388492,0.847123,0.694246
118806,BILIR DEFNE,TROCHTCHII IOULIA,1989-08-12,1989-08-12,0.350000,0.837500,0.675000
136948,POGHOSYAN SAHAK,FDCMC5Y1N SAHAK,1973-07-30,1973-07-30,0.333333,0.833333,0.666667
143289,CM7NY7N ROBERT,OHANYAN ROBERT,1965-01-29,1965-01-29,0.333333,0.833333,0.666667
145285,AL HMFAJI,AK KHMFA4I KAREEM ABDULLAH GATEA,1957-12-01,1957-12-01,0.380556,0.845139,0.690278
155074,Z.ALAABDEN NAJAF HUSSEIN Z. ALAABDEEN,ALAABDEEN,1959-02-03,1959-02-03,0.333333,0.833333,0.666667
157698,ALDHAHAB ALDHAHAB,ALDHAHAB RADHWAN JAAFAR MOHAMMAD RIDHA,1964-07-26,1964-07-26,0.333333,0.833333,0.666667
160909,MAQADISI MAQADISI,MAQADISI TALAL MOHAMED RASOOL ISMAEEL,1984-02-26,1984-02-28,0.333333,0.750000,0.611111
162640,SALEEM,M.SALEEM FAWWAZ SALIM MOHAMMED SALEEM,1964-11-13,1964-11-13,0.333333,0.833333,0.666667
163477,RAHMA RAHMA,RAHMA HAMEEDA YUSUF YAHYA HASAN YUSUF,1967-02-16,1967-02-16,0.333333,0.833333,0.666667
166422,CHETINKAYA GULUZAR,CETINKAYA METIN ERDEM,1988-10-10,2010-11-14,0.388000,0.555333,0.499556
176885,PHALEMPIN PIERRE PAUL GEORGES GHISL,PHALEMPIN,1962-08-18,1962-08-18,0.333333,0.833333,0.666667
185090,FDGD5I8N DWEL,POGOSIAN OVEL,1961-08-20,1961-08-20,0.375000,0.843750,0.687500
200078,TANNER JUTTA CHRISTA LISA CHRISTINE,TANNER GEB HELLER,1948-10-02,1948-10-02,0.384921,0.846230,0.692460
202660,ALDHANHANI ALDHANHANI,ALDHANHANI HANAN SULAIMAN HELAL BINSOBAT,1984-09-11,1984-09-11,0.333333,0.833333,0.666667
205968,WANG CHUNQING,YAN BO,1986-03-06,1981-10-03,0.361111,0.631944,0.541667
219556,RUAN GAOXIANG,LI YANGYANG,1987-10-11,1987-04-13,0.308333,0.660417,0.543056
219557,RUAN GAOXIANG,LI YANGYANG,1990-01-22,1987-04-13,0.308333,0.410417,0.376389
219558,RUAN GAOXIANG,LI YANGYANG,1987-04-13,1987-04-13,0.308333,0.827083,0.654167
232258,KAMAL KAMAL,KAMAL EP MOHAMAD ALI AHMAD,1983-10-27,1983-10-27,0.333333,0.833333,0.666667
237364,ALP AQYSAND,MIKHALAP ALIAKSANDR,1958-01-04,1958-01-04,0.352143,0.838036,0.676071
237365,HALP AIIAD,MIKHALAP ALIAKSANDR,1958-01-04,1958-01-04,0.335000,0.833750,0.667500
239969,MATTU KURUVILLA MATTU KURUVILLA,JOHANN BINNY PANIKKAM JOHANN BINNY PANIKKAM,1988-04-18,1988-04-18,0.365556,0.841389,0.682778
240646,SENGER FATMA OZDEN,KUTLUTURK ALPTUG KAAN,2015-11-13,2015-11-13,0.359259,0.839815,0.679630
240948,ISMAIL ELIF,AKYOL UNAL,1971-12-19,1971-12-19,0.305556,0.826389,0.652778
254079,RUAS CARLOS,DE AZEVEDO GOMES MARTINS RAUL CARLOS AMARO,1957-08-15,1957-08-15,0.388889,0.847222,0.694444
257959,NASR NASR,NASR EP YAACOUB GHANEM SANDRA,1984-09-13,1984-09-13,0.333333,0.833333,0.666667
258282,CHREIM CHREIM,GHADA CHREIM EP CHARLES ATTA,1968-09-30,1968-09-30,0.333333,0.833333,0.666667
259118,RAICHMAN RAICHMAN,SENTIURIN SERGEY,1983-11-29,1983-11-29,0.327160,0.831790,0.663580
259628,AKL AKL,SARROUH LILIOANE,1970-03-17,1970-03-17,0.328042,0.832011,0.664021
264694,PARLAR BEHMAN,CETIN EMRE,1992-03-28,1992-03-28,0.305556,0.826389,0.652778
268011,SALAMEH EP HACHEM BADR EL DINE,ZEINAB SALAMEH,1987-02-28,1987-02-28,0.395833,0.848958,0.697917
274723,HATINI HIND,REFAL YASMIN,1977-03-22,1977-03-22,0.333333,0.833333,0.666667
283881,FISHER JACK,CHERNICHOV YEVGENI,1989-12-25,1989-12-25,0.300000,0.825000,0.650000
284711,ASDARJIAN EP KRIKOR DERMESROBIAN,ASDARJIAN SALPY,1970-08-31,1970-08-31,0.333333,0.833333,0.666667
289288,DMMANH--DA-A--AZ TANVEER DMMANH--DA-A--AZ TANVEER,SHAIKH SIMINNAZ TANVEER,1984-12-31,1984-12-31,0.388889,0.847222,0.694444
297017,NEHME NEHME,NEHME EP ELIE ABOU CHAKRA,1963-10-12,1963-10-12,0.333333,0.833333,0.666667
304813,ABDELRAHMAN SIDDIG MOHAMMED SALIH ABDELRAZZEG ...,ABDELRAHMANSIDDIGMOHAMMEDSALIHABDELRAZZEG ABDE...,1988-05-31,1988-05-31,0.333333,0.833333,0.666667